@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --paragraph: #f0f0f0;
    --border-color: #090909;
    --box-shadow-light: rgba(255, 255, 255, 0.1);
    --box-shadow-soft: rgba(255, 255, 255, 0.05);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.dashboard {
  width: 80%;
  max-width: 1200px;
  height: 80%;
  max-height: 600px;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

.dashboard .board {
  flex-grow: 1;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px; 
}

.dashboard .dashboard-button {
  margin-top: 10px;
  width: 40%;
  height: 60px;
  padding: 20px;
  background-color: rgba(113, 97, 97, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard .dashboard-button:hover {
  background-color: #353232;
  box-shadow:
  0 4px 10px var(--box-shadow-light),
  0 0 5px var(--box-shadow-soft);
}

h1 {
  font-size: 2rem;
  color: var(--foreground);
}

p {
  color: var(--paragraph);
}

.dashboard .button-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  justify-content: space-between; 
  width: 100%; 
  margin-top: 20px;
}

.dashboard .button-container img {
  width: 40px; 
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.button-container img:hover {
  transform: scale(1.1);
}
